@model AmenityVM

<div class="container py-4">
	<div class="card shadow border-0 mb-4">
		<div class="card-header bg-success bg-gradient text-white d-flex justify-content-between align-items-center">
			<h2 class="mb-0">Delete Amenity</h2>
			<a asp-action="Index" class="btn btn-light text-success">
				<i class="bi bi-arrow-left-circle"></i> Back to List
			</a>
		</div>
		<div class="card-body">
			<form asp-action="Delete" method="post">
				<input type="hidden" name="id" value="@Model.Amenity.Id" />
				<div class="mb-3">
					<label asp-for="Amenity.VillaId"  class="form-label"></label>
					<select asp-for="Amenity.VillaId" disabled asp-items="@Model.VillaList"
							class="form-select border shadow">
						<option disabled selected>-- Select Amenity </option>
					</select>
					<span asp-validation-for="Amenity.VillaId" class="text-danger"></span>
				</div>


				<div class="mb-3">
					<label asp-for="Amenity.Name" class="form-label"></label>
					<input asp-for="Amenity.Name" readonly class="form-control" />
					<span asp-validation-for="Amenity.Name" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label asp-for="Amenity.Description" class="form-label"></label>
					<input asp-for="Amenity.Description"readonly class="form-control" />
					<span asp-validation-for="Amenity.Description" class="text-danger"></span>
				</div>



				<div class="text-end">
					<button type="submit" class="btn btn-danger">
						<i class="bi bi-check-circle"></i> Delete
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />

	}
}
